.header__nav{
	display: flex;
	overflow: hidden;
	
}
.header__logo{
	flex: 1;
	position: relative;
	display: flex;
	padding: 20px;
}
.header__logo-overlay{
	position: absolute;
	width: 100%;
	background-color: var(--primary-color );
	inset: 0;
	z-index: -1;
}
.header__logo h4{
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	opacity: 0.8;
	text-transform: uppercase;
	padding-left: 30px;
	font-family: var(--Playfair-Display );
}
.header__menu , .header__menu-mobile{
	padding: 20px;
	flex: 1.236;
	display: flex;
	gap: 64px;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}

.header__menu-mobile{
	display: none;
	gap: 20px;
	position: relative;
}
.header__menu li {
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: var(--secondary-color);
  /* font-size: 16px; */
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
}
.header__menu li img{
	width: 24px;
	height: 24px;
	object-fit: contain;
}
